
body 
{
    background-color: #008080;
    background-image: url('../images/pexels-jplenio-1103970.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
}

#title 
{
    font-size: 40px;
    width: 100%;
    margin: 2% 5%;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: Kanit;
    color: #000000;
    text-shadow: 4px 4px 4px #636363;
}

p {
    display: inline-block;
}

[id^="contactSpan"] {
    width: 80%;
    display: inline-block;
    border-top: 6px solid #b3bfbd;
    margin-bottom: 15px;
    text-align: left;
    font-size: 0.75em;
}

[id^="nameSpan"] {
    width: 50%;
    display: inline-block;
}

[id^="phoneSpan"] {
    width: 50%;
    display: inline-block;
}

[id^="emailSpan"] {
    width: 100%;
    display: inline-block;
}

[id^="buttonSpan"] {
    width: 100%;
    display: inline-block;

}

[id^="editButton"] {
    background-color: white; 
    border: none;              
    padding: 10px 20px;       
    text-align: center;        
    font-size: 16px;           
    margin: 4px 2px;          
    cursor: pointer;          
    border-radius: 25px;      
    transition: background-color 0.3s; 
    border: black;
    float: right;
}

[id^="editButton"]:hover {
    background-color: lightgray;
}

[id^="deleteButton"] {
    background-color: white; 
    border: none;            
    padding: 10px 20px;      
    text-align: center;       
    font-size: 16px;          
    margin: 4px 2px;          
    cursor: pointer;          
    border-radius: 25px;      
    transition: background-color 0.3s;
    border: black;
    float: right;
}

[id^="deleteButton"]:hover {
    background-color: lightgray;
}

[id^="nameInput"] {
    border-radius: 1px;
    padding: 10px;
    border: 1px solid #ccc;
    width: 400px;
}

[id^="phoneInput"] {
    border-radius: 1px;
    padding: 10px;
    border: 1px solid #ccc;
    width: 400px;
}

[id^="emailInput"] {
    border-radius: 1px;
    padding: 10px;
    border: 1px solid #ccc;
    width: 400px;
}


#contactTableDiv {
    
    font-family: Montserrat;
    letter-spacing: 2px;
    text-align: center;
}

#contactTableSpan {
    align-items: center;
}

#loginDiv
{
    font-size: 30px;
    opacity: 0.9;
    width: 40%;
    /* margin-left: 15%; */
    padding: 25px;
    max-width: 20%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: #7fa0a6;
}

#registerDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

#loggedInDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #f3eed7;
    border: 3px solid #aea999;
    border-radius: 10px;
    margin-bottom: 10px;
}

#accessUIDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #f3eed7;
    border: 3px solid #aea999;
    border-radius: 10px;
    margin-top: 10px;
}

.buttons
{
    font-size: 20px;
    border-radius: 25px;
    width: auto;
    /* margin-left: 25%; */
    transition: 0.5s;
    font-family: 'Ubuntu', sans-serif;
}

.buttons:hover{
    background-color: #00d5124f;
    color: #FFFFFF;
    opacity: 50%;
}

#firstName
{
    font-size: 30px;
}

#lastName
{
    font-size: 30px;
}

#loginName
{
	font-size: 30px;
}

#loginName
{
	font-size: 30px;
}
#loginPassword
{
	font-size: 30px;
}

#searchSpan
{
    display: flex;                    
    align-items: center;              
    border: 1px solid #ccc;           
    border-radius: 5px;              
    overflow: hidden;                
    width: 100%;                     
}
#searchText
{
	border: none;                     
    padding: 10px 15px;            
    border-radius: 0px;
    font-size: 16px;   
    flex-grow: 1;
    outline: none;
    width: auto;
    margin-left: 0%;
    margin-bottom: 0%;    
    text-align: left;
}
#searchContactButton
{
    background-color: #007BFF;
    color: white;             
    border: none;             
    padding: 10px 15px;              
    cursor: pointer;      
    border-radius: 0px;
    font-size: 16px;  
}

#searchIcon {
    height: 20px;
    color: white;
}


#contactText
{
	font-size: 30px;
}

input[type="text"],input[type="password"]{
    border-radius: 25px;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
}

#inner-title{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}

#loginResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}

#userName{
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

#logoutButton{
    width: 20%;
    margin-left: 40%;
}

select{
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
    font-size: 0.75em;
    font-family: 'Ubuntu', sans-serif;
}

#contactSearchResult{
    display: none;
}

#contactAddResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}